*{margin:0;padding:0;}
html,body{
    font-size:14px;
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
}


nav{
    height:511px;
    width:100%;
}
.my-nav-bar{
    height:50px;
    width:100%;
    background:lime;
}
.my-nav-adv{
    height:420px;
    width:100%;
    background:blue;
}